@page "/create"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject GamesServices gamesServices

<PageTitle>Create</PageTitle>

<h5>Name</h5>
<input placeholder="Name" @bind="createGame.Title" />

<h5>ReleaseDate</h5>
<input placeholder="Release Date" @bind ="createGame.ReleaseDate" />

<h5>Genre</h5>
<input placeholder="Genre" @bind ="createGame.Genre" />

<h5>Price</h5>
<input placeholder="Price" @bind ="createGame.Price" />

<h5>Rating</h5>
<input placeholder="Rating" @bind ="createGame.Rating" />

<br />


<button class="btn btn-primary" @onclick="AddGame">Finish</button>


@code {
    private List<GamesItem> games = new();
    GamesItem createGame = new GamesItem();

    private void AddGame()
    {

        gamesServices.AddGame(createGame);

        createGame = new GamesItem();

        NavigationManager.NavigateTo("GamesList");
    }

    

}

